* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: "Roboto", sans-serif;
  color: #e1e1e6;
  text-align: center;
  list-style: none;
}

body {
  background-color: #121214;
  background-image: url(./assets/bg.svg);
  background-position: center -715px;
}

main {
  display: grid;
  place-items: center;
}

header {
  padding-top: 3rem;
}

#cards {
  max-width: 44rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card {
  max-width: 20rem;
  padding: 2rem;
  background: #1d1c19;
  border-bottom: 2px solid #f7dd43;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
  
  opacity: 0;
  animation: topDown .7s linear forwards;
}

.card h2 {
  display: flex;
  gap: 1rem;
  align-items: center;

  padding: .5rem 1rem;
  border: 1px solid #746615;
  border-radius: 6px;
  color: #f7dd43;

  animation: appear 2s;
}

.card h2 span {
  font-size: 1rem;
  text-transform: uppercase;
}

.card ul li  {
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul li img {
  transition: transform 0.3s;
  animation: appear 2s;
}

.card ul li img:hover {
  transform: scale(1.2);
}

.card ul li strong {
  font-weight: 900;
  font-size: 2rem;
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  
  100% {
    transform: scale(1);
  }
}

@keyframes topDown {
  from {
    opacity: 0;
    transform: translateY(-70px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}